.metrics-post-container {
  background-color: var(--secondary-background);

  .metrics-post-area {
    margin: 0 auto;
    width: 80%;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width : 1px) and (max-width : 319px) {
  .metrics-post-container {
    .metrics-post-area {
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (min-width : 320px) and (max-width : 480px) {
  .metrics-post-container {
    .metrics-post-area {
      width: 95%;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
@media screen and (min-width : 481px) and (max-width : 800px) {
  .metrics-post-container {
    .metrics-post-area {
      width: 90%;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width : 801px) and (max-width : 1199px) {
  .metrics-post-container {
    .metrics-post-area {
      width: 90%;
    }
  }
}
