.image-card {
  margin: 0 auto;
  .image-container {
    width: 150px;
    height: 150px;
    background-color: black;
    position: relative;
    color: transparent;
    &:hover {
      cursor: pointer;
    }

    &:hover img{
      transition: .2s;
      opacity: 0.7;
    }

    &:hover .post-status{
      transition: .2s;
      color: var(--main-text-color);
    }

    img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 0;
      position: absolute;
    }

    .post-status {
      width: 100%;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      font-size: .9rem;
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          padding-right: 0.2rem;
        }
      }
    }
  }
}

@media screen and (min-width : 1200px) {
  .image-card {
    .image-container {
      width: 150px;
      height: 150px;
    }
  }
}

@media screen and (min-width : 481px) and (max-width : 800px) {
  .image-card {
    .image-container {
      width: 300px;
      height: 300px;
    }
  }
}

@media screen and (min-width : 320px) and (max-width : 480px) {
  .image-card {
    .image-container {
      width: 50vw;
      height: 50vw;
    }
  }
}

  @media screen and (min-width : 1px) and (max-width : 319px) {
    .image-card {
      .image-container {
        width: 80vw;
        height: 80vw;
      }
    }
  }
