#post-container {
  padding: 1rem;
  width: 55%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: .5rem;
}

@media screen and (min-width : 801px) and (max-width : 1199px) {
  #post-container {
    width: 80%;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width : 481px) and (max-width : 800px) {
  #post-container {
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width : 320px) and (max-width : 480px) {
    #post-container {
      width: 90%;
      grid-template-columns: repeat(2, 1fr);
    }
  }

@media screen and (min-width : 1px) and (max-width : 319px) {
  #post-container {
    width: 95%;
    grid-template-columns: repeat(1, 1fr);
  }
}
