#main-header {
  padding: 1rem;
  nav {
    display: flex;
    justify-content: center;
    img {
      width: 25rem;
      &:hover {
        transition: 0.2s;
        filter: brightness(1.1);
        cursor: pointer;
      }
    }
  }
}
