#main-header {
  padding: 1rem;
  background-color: var(--secondary-background);
  border-bottom: 2px solid rgba(26, 26, 26, 0.1);
  nav {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      font-size: 1.5rem;
      li:first-child {
        margin: 0 1rem;
      }
      li{
        a {
          all: unset;
          text-decoration: none;
          font-weight: bold;
          color: var(--text-color);

          &:hover {
            transition: 0.2s;
            color: var(--highlight-color);
          }
        }
      }
    }
    img {
      width: 15rem;
      &:hover {
        transition: 0.2s;
        filter: brightness(1.1);
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width : 481px) and (max-width : 800px) {
  #main-header {
    nav {
      img {
        width: 15rem;
      }
    }
  }
}

@media screen and (min-width : 320px) and (max-width : 480px) {
  #main-header {
    padding: 0.5rem;
    nav {
      img {
        width: 70vw;
      }
    }
  }
}

@media screen and (min-width : 1px) and (max-width : 319px) {
  #main-header {
    padding: 0.2rem;
    nav {
      img {
        width: 70vw;
      }
    }
  }
}
